:root {
    --white: #ffffff;
    --dark-text: #1f1f1f;
    --light-brown: #c49556;
    --light-bg: #f2eff0;
    --button: #9e5049;
}

main {
    margin-top: 70px !important;
}

/* font colors */
.text-color, main a {
    color: var(--dark-text) !important;
}

/* fonts */
h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--light-brown) !important;
    line-height: 1 !important;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    text-transform: none!important;
    color: var(--light-brown) !important;
}

.navbar-text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    font-size: 14px !important;
    font-weight: 100;
    letter-spacing: 1.5px;
}

.nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    font-size: 14px !important;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

/* navigation background */
.navbar-custom {
    background-color: rgba(78, 27, 42, 0.95);
}


/* logo color */
.navbar-brand img{
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(900%) hue-rotate(54deg) brightness(114%) contrast(86%); /* changing the color to light */
    max-width: 100%;
}

/* logo size in mobile */
@media (max-width: 575.98px) { /* for xs size and below */
    .navbar-brand img {
        max-width: 50px !important;
    }
}

/* logo hover effect */
.navbar-brand img:hover, .footer-brand img:hover{
    opacity: 0.8;
} 

/* navigation text and link color */
.navbar-custom .navbar-text,  .navbar-nav .nav-link {
    color: var(--white);
}

/* links hover */
.navbar-nav .nav-link:hover {
    color: var(--white);
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

/* current page link */
.current{
    opacity: 0.6;
    text-decoration: underline !important;
    text-underline-offset: 0.3em !important;
}

/* remove the borders of the hamburger menu */
.navbar-custom .navbar-toggler, .navbar-custom .navbar-toggler:focus {
    box-shadow: none;
    border: 0px;
}

/* hamburger menu icon color */
.navbar-custom svg {
    fill:  var(--white);
    opacity: 0.9;
}
button:hover svg path  {
    fill: var(--light-bg) ; 
}
button:hover  {
    background-color: transparent !important; 
}

/* image size in the content */
#vastaus img {
    width: 100%;
}

/* light gray background color */
.bg-color {
    background-color: var(--light-bg) !important;
}  

/* button colors */
.btn-custom{
    background-color: var(--button) !important;
    color: var(--white) !important;
}
.btn-custom:hover {
    background-color: #804540 !important;
    color: var(--white) !important;
}

/* pokemon name text */
.pokehaku #nimi {
    text-transform: capitalize !important;
    font-weight: 600 !important;
}

/* turn icon animation */
.icon-btn i {
    display: inline-block;
}
.icon-btn i:hover {
    color:#9e5049 !important;
}
.spin {
    transform: rotate(180deg);
    transition: transform 0.5s;
}

#saa-tiedot #saa:first-letter{
    text-transform: uppercase !important;
}

#saa-tiedot #kuva{
    background-color: #799eaa;
    width: 65px;
    height: 65px;
    align-content: center;
    border-radius: 50%;
}

#aika{
    font-size: 14px !important;
}


